<ion-header>

  <ion-navbar>
    <ion-title>Consultas</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="bandejaDefault">
      <ion-segment-button value="recibidas">
        Recibidas
      </ion-segment-button>
      <ion-segment-button value="formuladas">
        formuladas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div [ngSwitch]="bandejaDefault">
	<ion-list *ngSwitchCase="'recibidas'">
      <div *ngFor="let item of msjSvc.messageList$ | async">
		<ion-item class="text" *ngIf='item.responserId == usrSvc.idUsuario && item.status == 0'>
      
    <!-- <ion-item class="text" *ngFor="let item of msjRecibidos"> -->
      <p>De: {{ item.requesterName }}</p>
      <h3 text-wrap>{{ item.messageText }}</h3>      
      <p text-wrap>{{ item.responseText }}</p>
      <button ion-button (click)="resolverTarea(item)" item-end>Finalizar</button>
    
    </ion-item>
  </div>
  </ion-list>

  <ion-list *ngSwitchCase="'formuladas'">
      <div *ngFor="let item of msjSvc.messageList$ | async">
          <ion-item class="text" *ngIf='item.requesterId == usrSvc.idUsuario && item.status<2'>
      <!-- <ion-item class="text" *ngFor="let item of msjEnviados"> -->
        <p>Para: {{ item.responserName }}</p>
        <h3 text-wrap>{{ item.messageText }}</h3>        
        <p text-wrap>{{ item.responseText }}</p>
        <button ion-button [disabled]="item.status==0" (click)="aceptarSolucion(item)" item-end>Aceptar</button> 
          
      </ion-item>
    </div>
    </ion-list>
  </div>
  <!-- <ion-card *ngIf="msjSvc.listadoMensajes.length==0" >
    <ion-item>
        <ion-icon name="ribbon" item-start color="secondary"></ion-icon>
        <h2>No hay consultas</h2>
    </ion-item>
      <ion-card-content>
        <p>No tienes eventos consultas en tu buzón</p>
      </ion-card-content>
</ion-card> -->
</ion-content>
