<ion-header>

  <ion-navbar>
    <ion-title>Consultas</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="bandejaDefault">
      <ion-segment-button value="recibidas">
        Recibidas
      </ion-segment-button>
      <ion-segment-button value="formuladas">
        formuladas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div [ngSwitch]="bandejaDefault">
	<ion-list *ngSwitchCase="'recibidas'">
		<!-- <ion-item class="text" *ngFor="let item of msjSvc.listadoMensajesRecibidos | async"> -->
    <ion-item class="text" *ngFor="let item of msjSvc.listadoMensajesRecibidos">
      <h3 text-wrap>{{ item.messageText }}</h3>
      <p>De: {{ item.requesterName }}</p>
      <p text-wrap>{{ item.responseText }}</p>
      <button ion-button (click)="cambiarEstado(item)" item-end>Leer</button>
		</ion-item>
  </ion-list>
  <ion-list *ngSwitchCase="'formuladas'">
      <!-- <ion-item class="text" *ngFor="let item of msjSvc.listadoMensajesRecibidos | async"> -->
      <ion-item class="text" *ngFor="let item of msjSvc.listadoMensajesEnviados">
        <h3 text-wrap>{{ item.messageText }}</h3>
        <p>Para: {{ item.responserName }}</p>
        <p text-wrap>{{ item.responseText }}</p>
        <button ion-button (click)="cambiarEstado(item)" item-end>Aceptar</button> 
      </ion-item>
    </ion-list>
  </div>
  <!-- <ion-card *ngIf="msjSvc.listadoMensajes.length==0" >
    <ion-item>
        <ion-icon name="ribbon" item-start color="secondary"></ion-icon>
        <h2>No hay consultas</h2>
    </ion-item>
      <ion-card-content>
        <p>No tienes eventos consultas en tu buzón</p>
      </ion-card-content>
</ion-card> -->
</ion-content>
